<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Item List</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </head>
<body>

{% include ('header.html') %}

<!-- ======= Tapis de cartes (tableau) ======= -->
            
<div class="container" style="background-image: url('/static/card/!!!#atout!!!');">

    <table class="text-center table table-bordered">
      
        <thead>
            <tr>
              <th scope="col">Joueur 1</th>
              
              <td>
                {%if atout == "Pique" %}
                  <img src="static/cards/Pique.png" style="width:90px;height:110px;">
                {%elif atout == "Carreau"%}
                  <img src="static/cards/Carreau.png" style="width:90px;height:110px;">
                {%elif atout == "Coeur"%}
                  <img src="static/cards/Coeur.png" style="width:90px;height:110px;">
                {%elif atout == "Trefle"%}
                  <img src="static/cards/Trefle.png" style="width:90px;height:110px;">
                {%endif%}</td>
              <td>
                {%if atout == "Pique" %}
                  <img src="static/cards/Pique.png" style="width:90px;height:110px;">
                {%elif atout == "Carreau"%}
                  <img src="static/cards/Carreau.png" style="width:90px;height:110px;">
                {%elif atout == "Coeur"%}
                  <img src="static/cards/Coeur.png" style="width:90px;height:110px;">
                {%elif atout == "Trefle"%}
                  <img src="static/cards/Trefle.png" style="width:90px;height:110px;">
                {%endif%}</td>
              <td>
                {%if atout == "Pique" %}
                  <img src="static/cards/Pique.png" style="width:90px;height:110px;">
                {%elif atout == "Carreau"%}
                  <img src="static/cards/Carreau.png" style="width:90px;height:110px;">
                {%elif atout == "Coeur"%}
                  <img src="static/cards/Coeur.png" style="width:90px;height:110px;">
                {%elif atout == "Trefle"%}
                  <img src="static/cards/Trefle.png" style="width:90px;height:110px;">
                {%endif%}</td>
              <td>
                {%if atout == "Pique" %}
                  <img src="static/cards/Pique.png" style="width:90px;height:110px;">
                {%elif atout == "Carreau"%}
                  <img src="static/cards/Carreau.png" style="width:90px;height:110px;">
                {%elif atout == "Coeur"%}
                  <img src="static/cards/Coeur.png" style="width:90px;height:110px;">
                {%elif atout == "Trefle"%}
                  <img src="static/cards/Trefle.png" style="width:90px;height:110px;">
                {%endif%}</td>
              <td>
                {%if atout == "Pique" %}
                  <img src="static/cards/Pique.png" style="width:90px;height:110px;">
                {%elif atout == "Carreau"%}
                  <img src="static/cards/Carreau.png" style="width:90px;height:110px;">
                {%elif atout == "Coeur"%}
                  <img src="static/cards/Coeur.png" style="width:90px;height:110px;">
                {%elif atout == "Trefle"%}
                  <img src="static/cards/Trefle.png" style="width:90px;height:110px;">
                {%endif%}</td>
              <td>
                {%if atout == "Pique" %}
                  <img src="static/cards/Pique.png" style="width:90px;height:110px;">
                {%elif atout == "Carreau"%}
                  <img src="static/cards/Carreau.png" style="width:90px;height:110px;">
                {%elif atout == "Coeur"%}
                  <img src="static/cards/Coeur.png" style="width:90px;height:110px;">
                {%elif atout == "Trefle"%}
                  <img src="static/cards/Trefle.png" style="width:90px;height:110px;">
                {%endif%}</td>
              <td>
                {%if atout == "Pique" %}
                  <img src="static/cards/Pique.png" style="width:90px;height:110px;">
                {%elif atout == "Carreau"%}
                  <img src="static/cards/Carreau.png" style="width:90px;height:110px;">
                {%elif atout == "Coeur"%}
                  <img src="static/cards/Coeur.png" style="width:90px;height:110px;">
                {%elif atout == "Trefle"%}
                  <img src="static/cards/Trefle.png" style="width:90px;height:110px;">
                {%endif%}</td>

            </tr>
          </thead>

        <tbody>

            <!--=== Corps du tableau ===-->

            {%for row in donne%}
            <tr scope="row" class="pt-3">
                {%for card in row%}
                <td><img src="static/cards/{{ card }}" class="" alt=""></td>
                {%endfor%}
            </tr>
            {%endfor%}
        </tbody>

        <tfoot>
          <tr>
            <th scope="col">Joueur 2</th>
          
            <td>
              {%if atout == "Pique" %}
               <img src="static/cards/Pique.png" style="width:90px;height:110px;">
              {%elif atout == "Carreau"%}
               <img src="static/cards/Carreau.png" style="width:90px;height:110px;">
              {%elif atout == "Coeur"%}
                <img src="static/cards/Coeur.png" style="width:90px;height:110px;">
              {%elif atout == "Trefle"%}
               <img src="static/cards/Trefle.png" style="width:90px;height:110px;">
            {%endif%}</td>
            <td>
              {%if atout == "Pique" %}
                <img src="static/cards/Pique.png" style="width:90px;height:110px;">
              {%elif atout == "Carreau"%}
                <img src="static/cards/Carreau.png" style="width:90px;height:110px;">
              {%elif atout == "Coeur"%}
                <img src="static/cards/Coeur.png" style="width:90px;height:110px;">
              {%elif atout == "Trefle"%}
                <img src="static/cards/Trefle.png" style="width:90px;height:110px;">
              {%endif%}</td>
            <td>
              {%if atout == "Pique" %}
                <img src="static/cards/Pique.png" style="width:90px;height:110px;">
              {%elif atout == "Carreau"%}
                <img src="static/cards/Carreau.png" style="width:90px;height:110px;">
              {%elif atout == "Coeur"%}
                <img src="static/cards/Coeur.png" style="width:90px;height:110px;">
              {%elif atout == "Trefle"%}
                <img src="static/cards/Trefle.png" style="width:90px;height:110px;">
              {%endif%}</td>
            <td>
              {%if atout == "Pique" %}
                <img src="static/cards/Pique.png" style="width:90px;height:110px;">
              {%elif atout == "Carreau"%}
                <img src="static/cards/Carreau.png" style="width:90px;height:110px;">
              {%elif atout == "Coeur"%}
                <img src="static/cards/Coeur.png" style="width:90px;height:110px;">
              {%elif atout == "Trefle"%}
                <img src="static/cards/Trefle.png" style="width:90px;height:110px;">
              {%endif%}</td>
            <td>
              {%if atout == "Pique" %}
                <img src="static/cards/Pique.png" style="width:90px;height:110px;">
              {%elif atout == "Carreau"%}
                <img src="static/cards/Carreau.png" style="width:90px;height:110px;">
              {%elif atout == "Coeur"%}
                <img src="static/cards/Coeur.png" style="width:90px;height:110px;">
              {%elif atout == "Trefle"%}
                <img src="static/cards/Trefle.png" style="width:90px;height:110px;">
              {%endif%}</td>
            <td>
              {%if atout == "Pique" %}
                <img src="static/cards/Pique.png" style="width:90px;height:110px;">
              {%elif atout == "Carreau"%}
                <img src="static/cards/Carreau.png" style="width:90px;height:110px;">
              {%elif atout == "Coeur"%}
                <img src="static/cards/Coeur.png" style="width:90px;height:110px;">
              {%elif atout == "Trefle"%}
                <img src="static/cards/Trefle.png" style="width:90px;height:110px;">
              {%endif%}</td>
            <td>
              {%if atout == "Pique" %}
                <img src="static/cards/Pique.png" style="width:90px;height:110px;">
              {%elif atout == "Carreau"%}
                <img src="static/cards/Carreau.png" style="width:90px;height:110px;">
              {%elif atout == "Coeur"%}
                <img src="static/cards/Coeur.png" style="width:90px;height:110px;">
              {%elif atout == "Trefle"%}
                <img src="static/cards/Trefle.png" style="width:90px;height:110px;">
              {%endif%}</td>
          </tfoot>
    </table>
  </div>
</body>