<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Item List</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </head>
<body>

{% include ('header.html') %}


    <div class="container">
        <table class="text-center table table-bordered">
            <!-- <thead>
                <tr>
                <th scope="col">Joueur 1</th>
                <th scope="col"></th>
                <th scope="col">Tapis</th>
                <th scope="col"></th>
                <th scope="col">Joueur 2</th>
                </tr>
            </thead>-->
            <tbody>

                <!--=== Corps du tableau ===-->

                <!-- card et cards_j1 cards_j2 à renommer ci dessous !!! -->


                {%for row in donne%}
                {%if (loop.index == 2) or (loop.index == 5) %}
                <tr scope="row" class="pt-3">
                    {%for card in row%}
                    <td><img src="static/cards/dos.jpg" class="" alt=""></td>
                    {%endfor%}
                </tr>
                {%elif (loop.index == 3) or (loop.index == 4) %}
                <tr scope="row" class="pt-3">
                    {%for card in row%}
                    <td><img src="static/cards/carte_0.png" class="" alt=""></td>
                    {%endfor%}
                </tr>
                {%else%}
                <tr scope="row" class="pt-3">
                    {%for card in row%}
                        <td>
                            <a href="{{loop.index}}">
                            <img src="static/cards/{{ card['image'] }}" class="" alt="">
                            </a>
                        </td>
                    </a>
                    {%endfor%}
                </tr>
                {%endif%}
                {%endfor%}

            </tbody>
        </table>
    </div>
</body>