<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        
    </style>
</head>
<div class="row">
    <p>
        <div style="text-align: center;">    
            <img src="/static/belote.jpeg" >
        </div>
    </p>
</div>

        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>Item List</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        </head>
    <body>
        <div class="container text-center h-100">
            <div style="background-image : url(/static/vieux.jpg); background-repeat: no-repeat; background-size: 100% 100%;">  
            
            <div class="row align-items-center">
                <div class="col">
                    <a href="game"><button class="btn btn-primary">Nouvelle Partie</button></a>
                </div>
                <div class="col align-self-center">
                    <a href="game/load"><button class="btn btn-primary">Charger dernière partie</button></a>
                </div>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>
                <p> </p>




            </div>
        </div>
    </body>
</html>